<a href="https://colab.research.google.com/github/mariobecerra/mda_project/blob/main/code/01_weekly_temperature_belgium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

URLs of data

In [32]:
arrondissements_url = 'https://raw.githubusercontent.com/mariobecerra/mda_project/main/data/arrondissements_coords.csv'
mortality_url = 'https://raw.githubusercontent.com/mariobecerra/mda_project/main/data/mortality_data_2000-2019.csv'
temperature_url = 'https://raw.githubusercontent.com/mariobecerra/mda_project/main/data/temp_2000_2019.csv'

Read data

In [33]:
import pandas as pd
import numpy as np
import datetime

In [34]:
arrondissements_data = pd.read_csv(arrondissements_url)

arrondissements_data.head(45)

    NIS_Code   Nom_arrondissement        lat       lon
0      11000            Antwerpen  51.280681  4.505809
1      63000             Verviers  50.464213  6.022070
2      13000             Turnhout  51.250094  4.950422
3      62000                Liège  50.613433  5.607778
4      64000              Waremme  50.662789  5.206501
5      37000                Tielt  50.999605  3.312998
6      45000            Audenarde  50.832904  3.638004
7      91000               Dinant  50.165781  5.025523
8      52000            Charleroi  50.444787  4.442946
9      35000             Oostende  51.176463  2.952955
10     57000  Tournai et Mouscron  50.633851  3.392746
11     85000               Virton  49.665636  5.488973
12     93000        Philippeville  50.148520  4.550580
13     33000                Ypres  50.849767  2.851650
14     71000              Hasselt  50.951461  5.276079
15     81000                Arlon  49.679302  5.779664
16     72000              Maaseik  51.136719  5.516925
17     46000         Sint-Niklaas  51.194786  4.143010
18     51000                  Ath  50.640495  3.769540
19     92000                Namur  50.460971  4.850750
20     23000         Hal-Vilvorde  50.851113  4.272715
21     12000             Mechelen  51.074719  4.526206
22     53000                 Mons  50.445212  3.871963
23     43000                Eeklo  51.220140  3.590777
24     42000          Dendermonde  51.038772  4.035545
25     36000            Roeselare  50.940231  3.116723
26     25000             Nivelles  50.669332  4.583783
27     56000                Thuin  50.175375  4.280366
28     31000               Brugge  51.202843  3.220325
29     82000             Bastogne  50.084373  5.747995
30     34000             Courtrai  50.820071  3.317987
31     58000          La Louvière  50.421389  4.151769
32     73000              Tongres  50.837372  5.516463
33     84000          Neufchâteau  49.910946  5.293645
34     83000    Marche-en-Famenne  50.230000  5.499186
35     32000            Diksmuide  51.021555  2.881296
36     21000   Bruxelles-Capitale  50.836055  4.370650
37     41000                Aalst  50.874913  3.948691
38     38000               Veurne  51.047550  2.676507
39     24000               Leuven  50.890261  4.848462
40     44000                 Gent  51.060660  3.664140
41     55000             Soignies  50.563336  4.135936
42     61000                  Huy  50.495135  5.339129
43     54000             Mouscron  50.733333  3.216667

In [35]:
mortality_data = pd.read_csv(mortality_url)
mortality_data

       YEAR YEAR_WEEK       COD  ARRON  N_MASK
0      2000  2000-001  external  11000     NaN
1      2000  2000-001  external  12000     NaN
2      2000  2000-001  external  13000     NaN
3      2000  2000-001  external  21000     NaN
4      2000  2000-001  external  23000     NaN
...     ...       ...       ...    ...     ...
82579  2019  2019-053   natural  84000     6.0
82580  2019  2019-053   natural  85000     5.0
82581  2019  2019-053   natural  91000    10.0
82582  2019  2019-053   natural  92000    19.0
82583  2019  2019-053   natural  93000     7.0

[82584 rows x 5 columns]

In [36]:
temperature_data = pd.read_csv(temperature_url, sep=";")
temperature_data.describe()

,GRID_NO,LATITUDE,LONGITUDE,DAY,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG
count,540570.00000,540570.000000,540570.000000,5.405700e+05,540570.000000,540570.000000,540570.000000
mean,100891.50000,50.646314,4.642905,2.009566e+07,14.522454,7.204934,10.864720
std,2312.18536,0.499724,1.032292,5.766457e+04,7.654351,5.818143,6.484894
min,96095.00000,49.591590,2.391720,2.000010e+07,-13.100000,-20.800000,-14.900000
25%,99096.00000,50.279050,3.831580,2.004123e+07,8.700000,3.000000,6.100000
50%,101093.50000,50.687720,4.832660,2.009123e+07,14.600000,7.500000,11.100000
75%,103090.00000,51.068210,5.562530,2.014123e+07,20.300000,11.700000,15.900000
max,105095.00000,51.608770,6.369110,2.019123e+07,41.600000,26.500000,32.400000

In [37]:
temperature_data.max()

GRID_NO            1.050950e+05
LATITUDE           5.160877e+01
LONGITUDE          6.369110e+00
DAY                2.019123e+07
TEMPERATURE_MAX    4.160000e+01
TEMPERATURE_MIN    2.650000e+01
TEMPERATURE_AVG    3.240000e+01
dtype: float64

Find the closest temperature grid to each arrondissement

In [38]:
grids_temp = temperature_data.drop_duplicates(subset = ['GRID_NO', 'LATITUDE', 'LONGITUDE'])
grids_temp

,GRID_NO,LATITUDE,LONGITUDE,DAY,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG
0,96095,49.59159,5.03811,20000101,6.2,2.9,4.5
7305,96096,49.60623,5.38328,20000101,5.8,2.4,4.1
14610,96097,49.61982,5.72863,20000101,4.9,1.1,3.0
21915,96098,49.63236,6.07415,20000101,5.3,1.5,3.4
29220,97095,49.81581,5.01500,20000101,5.9,2.5,4.2
...,...,...,...,...,...,...,...
504045,104094,51.36832,4.48712,20000101,8.5,4.9,6.7
511350,104095,51.38472,4.84537,20000101,8.1,4.5,6.3
518655,104096,51.40002,5.20384,20000101,7.9,4.0,6.0
525960,104097,51.41421,5.56253,20000101,7.9,4.0,6.0
533265,105095,51.60877,4.81995,20000101,8.4,4.6,6.5

In [39]:
# Not the most efficient, but it's a small dataset so it's okay
distances = pd.DataFrame()

for i in range(arrondissements_data.shape[0]):
  diff_lat = grids_temp['LATITUDE'] - arrondissements_data.loc[i].at['lat']
  diff_lon = grids_temp['LONGITUDE'] - arrondissements_data.loc[i].at['lon']
  distances_i = np.power((diff_lat), 2) + np.power((diff_lon), 2)

  temp = pd.DataFrame(
        {
            'NIS_Code': arrondissements_data.loc[i].at['NIS_Code'],
            'GRID_NO': grids_temp.GRID_NO,
            'Dist': distances_i
        }
    )
  distances = pd.concat([distances, temp])

In [40]:
distances

        NIS_Code  GRID_NO      Dist
0          11000    96095  3.136373
7305       11000    96096  3.573742
14610      11000    96097  4.253751
21915      11000    96098  5.176657
29220      11000    97095  2.405123
...          ...      ...       ...
504045     54000   104094  2.017259
511350     54000   104095  3.076978
518655     54000   104096  4.393328
525960     54000   104097  5.966667
533265     54000   105095  3.336906

[3256 rows x 3 columns]

Find the temperature grid closest to each arrondissement

In [41]:
arron_grid_mapping = distances.groupby('NIS_Code').apply(lambda x: x[x['Dist'] == x['Dist'].min()])[['NIS_Code', 'GRID_NO']].reset_index(drop = True)

arron_grid_mapping.head(8)

   NIS_Code  GRID_NO
0     11000   104094
1     12000   103094
2     13000   103095
3     21000   102094
4     23000   102093
5     24000   102095
6     25000   101094
7     31000   104090

Join arrondissement and temperature datasets to get temperature per day in each arrondissement.

In [42]:
join_1 = pd.merge(arron_grid_mapping, temperature_data, how = "inner")
join_1

,NIS_Code,GRID_NO,LATITUDE,LONGITUDE,DAY,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG
0,11000,104094,51.36832,4.48712,20000101,8.5,4.9,6.7
1,11000,104094,51.36832,4.48712,20000102,9.5,5.4,7.4
2,11000,104094,51.36832,4.48712,20000103,9.8,7.6,8.7
3,11000,104094,51.36832,4.48712,20000104,9.8,7.2,8.5
4,11000,104094,51.36832,4.48712,20000105,8.1,3.2,5.7
...,...,...,...,...,...,...,...,...
321415,93000,99094,50.24822,4.61816,20191227,6.7,4.2,5.4
321416,93000,99094,50.24822,4.61816,20191228,4.6,3.8,4.2
321417,93000,99094,50.24822,4.61816,20191229,7.2,-1.8,2.7
321418,93000,99094,50.24822,4.61816,20191230,9.2,1.1,5.2
321419,93000,99094,50.24822,4.61816,20191231,5.6,-0.3,2.7

In [43]:
arron_temp_data = pd.merge(join_1, arrondissements_data, how = 'left')[['DAY', 'Nom_arrondissement', 'NIS_Code', 'GRID_NO', 'TEMPERATURE_MAX', 'TEMPERATURE_MIN', 'TEMPERATURE_AVG']].sort_values(by=['Nom_arrondissement', 'NIS_Code', 'DAY']).assign(YEAR = lambda x: np.floor(x.DAY/10000))
arron_temp_data

,DAY,Nom_arrondissement,NIS_Code,GRID_NO,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG,YEAR
116880,20000101,Aalst,41000,102092,8.4,4.7,6.6,2000.0
116881,20000102,Aalst,41000,102092,8.8,5.7,7.3,2000.0
116882,20000103,Aalst,41000,102092,9.5,7.1,8.3,2000.0
116883,20000104,Aalst,41000,102092,10.2,7.1,8.7,2000.0
116884,20000105,Aalst,41000,102092,7.2,2.1,4.7,2000.0
...,...,...,...,...,...,...,...,...
80350,20191227,Ypres,33000,102089,8.0,6.9,7.4,2019.0
80351,20191228,Ypres,33000,102089,7.5,5.7,6.6,2019.0
80352,20191229,Ypres,33000,102089,4.8,0.5,2.7,2019.0
80353,20191230,Ypres,33000,102089,7.7,1.2,4.5,2019.0
80354,20191231,Ypres,33000,102089,5.8,1.1,3.5,2019.0

In [60]:
arron_temp_data = pd.merge(join_1, arrondissements_data, how = 'left')[['DAY', 'Nom_arrondissement', 'NIS_Code', 'GRID_NO', 'TEMPERATURE_MAX', 'TEMPERATURE_MIN', 'TEMPERATURE_AVG']].sort_values(by=['Nom_arrondissement', 'NIS_Code', 'DAY']).assign(Month = lambda x: (x.DAY//100)%100)
arron_temp_data

# Saving arron_emp_data because it will be used for meta-analysis dataset construction
arron_temp_data.to_csv('../out/arron_temp_data.csv', encoding = 'utf-8-sig')

Get percentiles to define heatwave

In [45]:
def q95(x):
    return x.quantile(0.90)

temp_percetiles_year_arron = arron_temp_data[['Month', 'NIS_Code', 'Nom_arrondissement', 'TEMPERATURE_MAX']].groupby(['Month', 'NIS_Code', 'Nom_arrondissement']).agg(q95).stack(level=0).reset_index().rename(columns={0:"p95"})
temp_percetiles_year_arron[temp_percetiles_year_arron['Month']==6]

     Month  NIS_Code   Nom_arrondissement          level_3    p95
220      6     11000            Antwerpen  TEMPERATURE_MAX  27.20
221      6     12000             Mechelen  TEMPERATURE_MAX  27.51
222      6     13000             Turnhout  TEMPERATURE_MAX  27.81
223      6     21000   Bruxelles-Capitale  TEMPERATURE_MAX  27.40
224      6     23000         Hal-Vilvorde  TEMPERATURE_MAX  27.40
225      6     24000               Leuven  TEMPERATURE_MAX  28.00
226      6     25000             Nivelles  TEMPERATURE_MAX  27.40
227      6     31000               Brugge  TEMPERATURE_MAX  23.90
228      6     32000            Diksmuide  TEMPERATURE_MAX  24.70
229      6     33000                Ypres  TEMPERATURE_MAX  26.01
230      6     34000             Courtrai  TEMPERATURE_MAX  27.10
231      6     35000             Oostende  TEMPERATURE_MAX  24.00
232      6     36000            Roeselare  TEMPERATURE_MAX  26.70
233      6     37000                Tielt  TEMPERATURE_MAX  26.40
234      6     38000               Veurne  TEMPERATURE_MAX  24.70
235      6     41000                Aalst  TEMPERATURE_MAX  27.10
236      6     42000          Dendermonde  TEMPERATURE_MAX  26.91
237      6     43000                Eeklo  TEMPERATURE_MAX  24.91
238      6     44000                 Gent  TEMPERATURE_MAX  26.82
239      6     45000            Audenarde  TEMPERATURE_MAX  27.10
240      6     46000         Sint-Niklaas  TEMPERATURE_MAX  26.91
241      6     51000                  Ath  TEMPERATURE_MAX  27.61
242      6     52000            Charleroi  TEMPERATURE_MAX  27.21
243      6     53000                 Mons  TEMPERATURE_MAX  27.31
244      6     54000             Mouscron  TEMPERATURE_MAX  27.51
245      6     55000             Soignies  TEMPERATURE_MAX  27.40
246      6     56000                Thuin  TEMPERATURE_MAX  27.30
247      6     57000  Tournai et Mouscron  TEMPERATURE_MAX  27.41
248      6     58000          La Louvière  TEMPERATURE_MAX  27.30
249      6     61000                  Huy  TEMPERATURE_MAX  27.31
250      6     62000                Liège  TEMPERATURE_MAX  27.70
251      6     63000             Verviers  TEMPERATURE_MAX  26.81
252      6     64000              Waremme  TEMPERATURE_MAX  27.71
253      6     71000              Hasselt  TEMPERATURE_MAX  28.90
254      6     72000              Maaseik  TEMPERATURE_MAX  29.20
255      6     73000              Tongres  TEMPERATURE_MAX  28.10
256      6     81000                Arlon  TEMPERATURE_MAX  28.11
257      6     82000             Bastogne  TEMPERATURE_MAX  26.90
258      6     83000    Marche-en-Famenne  TEMPERATURE_MAX  26.90
259      6     84000          Neufchâteau  TEMPERATURE_MAX  26.90
260      6     85000               Virton  TEMPERATURE_MAX  28.00
261      6     91000               Dinant  TEMPERATURE_MAX  26.80
262      6     92000                Namur  TEMPERATURE_MAX  27.40
263      6     93000        Philippeville  TEMPERATURE_MAX  26.80

Get temperatures of five consecutive days

In [46]:

temp_lead_1 = arron_temp_data.groupby(['Nom_arrondissement', 'NIS_Code'])['TEMPERATURE_MAX'].shift(-1)

temp_lead_2 = arron_temp_data.groupby(['Nom_arrondissement', 'NIS_Code'])['TEMPERATURE_MAX'].shift(-2)

temp_lead_3 = arron_temp_data.groupby(['Nom_arrondissement', 'NIS_Code'])['TEMPERATURE_MAX'].shift(-3)

temp_lead_4 = arron_temp_data.groupby(['Nom_arrondissement', 'NIS_Code'])['TEMPERATURE_MAX'].shift(-4)

In [47]:
arron_temp_data['temp_lead_1'] = temp_lead_1
arron_temp_data['temp_lead_2'] = temp_lead_2
arron_temp_data['temp_lead_3'] = temp_lead_3
arron_temp_data['temp_lead_4'] = temp_lead_4
arron_temp_data

,DAY,Nom_arrondissement,NIS_Code,GRID_NO,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG,Month,temp_lead_1,temp_lead_2,temp_lead_3,temp_lead_4
116880,20000101,Aalst,41000,102092,8.4,4.7,6.6,1,8.8,9.5,10.2,7.2
116881,20000102,Aalst,41000,102092,8.8,5.7,7.3,1,9.5,10.2,7.2,9.0
116882,20000103,Aalst,41000,102092,9.5,7.1,8.3,1,10.2,7.2,9.0,6.6
116883,20000104,Aalst,41000,102092,10.2,7.1,8.7,1,7.2,9.0,6.6,8.7
116884,20000105,Aalst,41000,102092,7.2,2.1,4.7,1,9.0,6.6,8.7,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...
80350,20191227,Ypres,33000,102089,8.0,6.9,7.4,12,7.5,4.8,7.7,5.8
80351,20191228,Ypres,33000,102089,7.5,5.7,6.6,12,4.8,7.7,5.8,NaN
80352,20191229,Ypres,33000,102089,4.8,0.5,2.7,12,7.7,5.8,NaN,NaN
80353,20191230,Ypres,33000,102089,7.7,1.2,4.5,12,5.8,NaN,NaN,NaN
80354,20191231,Ypres,33000,102089,5.8,1.1,3.5,12,NaN,NaN,NaN,NaN

Create boolean variable if there are 5 consecutive days in which temperature was higher than the 95-th percentile of temperature each year and each arrondissement

In [49]:
join_percentiles = pd.merge(arron_temp_data, temp_percetiles_year_arron[['Month', 'NIS_Code', 'Nom_arrondissement', 'p95']], how = "left")
join_percentiles

,DAY,Nom_arrondissement,NIS_Code,GRID_NO,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG,Month,temp_lead_1,temp_lead_2,temp_lead_3,temp_lead_4,p95
0,20000101,Aalst,41000,102092,8.4,4.7,6.6,1,8.8,9.5,10.2,7.2,10.91
1,20000102,Aalst,41000,102092,8.8,5.7,7.3,1,9.5,10.2,7.2,9.0,10.91
2,20000103,Aalst,41000,102092,9.5,7.1,8.3,1,10.2,7.2,9.0,6.6,10.91
3,20000104,Aalst,41000,102092,10.2,7.1,8.7,1,7.2,9.0,6.6,8.7,10.91
4,20000105,Aalst,41000,102092,7.2,2.1,4.7,1,9.0,6.6,8.7,6.7,10.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321415,20191227,Ypres,33000,102089,8.0,6.9,7.4,12,7.5,4.8,7.7,5.8,11.90
321416,20191228,Ypres,33000,102089,7.5,5.7,6.6,12,4.8,7.7,5.8,NaN,11.90
321417,20191229,Ypres,33000,102089,4.8,0.5,2.7,12,7.7,5.8,NaN,NaN,11.90
321418,20191230,Ypres,33000,102089,7.7,1.2,4.5,12,5.8,NaN,NaN,NaN,11.90
321419,20191231,Ypres,33000,102089,5.8,1.1,3.5,12,NaN,NaN,NaN,NaN,11.90

In [50]:
bool0 = (join_percentiles['TEMPERATURE_MAX'].to_numpy() >= join_percentiles['p95'].to_numpy()).astype(int)
bool1 = (join_percentiles['temp_lead_1'].to_numpy() >= join_percentiles['p95'].to_numpy()).astype(int)
bool2 = (join_percentiles['temp_lead_2'].to_numpy() >= join_percentiles['p95'].to_numpy()).astype(int)
bool3 = (join_percentiles['temp_lead_3'].to_numpy() >= join_percentiles['p95'].to_numpy()).astype(int)
bool4 = (join_percentiles['temp_lead_4'].to_numpy() >= join_percentiles['p95'].to_numpy()).astype(int)
heatwave_boolean = bool0 * bool1 * bool2 * bool3 * bool4
heatwave_boolean

array([0, 0, 0, ..., 0, 0, 0])

In [51]:
# Not the most efficient, but it works
iso_weeks = ['1990-001']*join_percentiles.shape[0] # Prefill list with correct size
for i in range(len(iso_weeks)):
  day_i = join_percentiles.loc[i].at['DAY']
  iso_week_i = datetime.datetime.strptime(str(day_i), '%Y%m%d').isocalendar()
  iso_weeks[i] = str(iso_week_i[0]) + '-' + str(iso_week_i[1]).zfill(3)

In [52]:
heat_wave_day_def = join_percentiles[['NIS_Code', 'Nom_arrondissement','Month']]
heat_wave_day_def['heatwave_boolean'] = heatwave_boolean
heat_wave_day_def['YEAR_WEEK'] = iso_weeks
heat_wave_day_def

<ipython-input-52-5d6176b82e7e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat_wave_day_def['heatwave_boolean'] = heatwave_boolean
<ipython-input-52-5d6176b82e7e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat_wave_day_def['YEAR_WEEK'] = iso_weeks

        NIS_Code Nom_arrondissement  Month  heatwave_boolean YEAR_WEEK
0          41000              Aalst      1                 0  1999-052
1          41000              Aalst      1                 0  1999-052
2          41000              Aalst      1                 0  2000-001
3          41000              Aalst      1                 0  2000-001
4          41000              Aalst      1                 0  2000-001
...          ...                ...    ...               ...       ...
321415     33000              Ypres     12                 0  2019-052
321416     33000              Ypres     12                 0  2019-052
321417     33000              Ypres     12                 0  2019-052
321418     33000              Ypres     12                 0  2020-001
321419     33000              Ypres     12                 0  2020-001

[321420 rows x 5 columns]

In [53]:
heat_wave_week = heat_wave_day_def.groupby(['NIS_Code', 'Nom_arrondissement','YEAR_WEEK'])['heatwave_boolean'].sum().reset_index()
heat_wave_week['heatwave_week_boolean'] = (heat_wave_week['heatwave_boolean'] > 0).astype(int)
heat_wave_week

,NIS_Code,Nom_arrondissement,YEAR_WEEK,heatwave_boolean,heatwave_week_boolean
0,11000,Antwerpen,1999-052,0,0
1,11000,Antwerpen,2000-001,0,0
2,11000,Antwerpen,2000-002,0,0
3,11000,Antwerpen,2000-003,0,0
4,11000,Antwerpen,2000-004,0,0
...,...,...,...,...,...
45975,93000,Philippeville,2019-049,0,0
45976,93000,Philippeville,2019-050,0,0
45977,93000,Philippeville,2019-051,0,0
45978,93000,Philippeville,2019-052,0,0
45979,93000,Philippeville,2020-001,0,0

In [54]:
heat_wave_week['heatwave_week_boolean'].sum()

1675

In [55]:
mortality_heat_wave = pd.merge(heat_wave_week[['YEAR_WEEK', 'NIS_Code', 'Nom_arrondissement', 'heatwave_week_boolean']], mortality_data[['ARRON', 'YEAR_WEEK', 'COD', 'N_MASK']], left_on = ['NIS_Code', 'YEAR_WEEK'], right_on = ['ARRON', 'YEAR_WEEK'], how = 'inner')
mortality_heat_wave.count()

YEAR_WEEK                81142
NIS_Code                 81142
Nom_arrondissement       81142
heatwave_week_boolean    81142
ARRON                    81142
COD                      81142
N_MASK                   57772
dtype: int64

Save dataset

In [58]:
mortality_heat_wave.to_csv('../out/mortality_heat_wave.csv', encoding = 'utf-8-sig')