In [3]:
import os
os.getcwd()
os.chdir("C:\\Users\\baris\\Desktop\\Modern Data Analytics\\mda_project")

In [11]:
import pandas as pd
import numpy as np

'LOAD HEAT WAVE DATA'
heat_wave = pd.read_csv("out/mortality_heat_wave.csv", sep = ",")
print(heat_wave)

'LOAD DEATH DATA WITH TOTAL WEEKLY POPULATION BY ARRONDISSEMENT (AS OBTAINED BY LINEAR INTERPOLATION)'
mort_interp = pd.read_csv("out/weekly_mortality_with_linear_interpolated_population_data.csv",
                         sep = ",")
print(mort_interp)
mort_interp.info()

       Unnamed: 0 YEAR_WEEK  NIS_Code Nom_arrondissement  \
0               0  2000-001     11000          Antwerpen
1               1  2000-001     11000          Antwerpen
2               2  2000-002     11000          Antwerpen
3               3  2000-002     11000          Antwerpen
4               4  2000-003     11000          Antwerpen
5               5  2000-003     11000          Antwerpen
6               6  2000-004     11000          Antwerpen
7               7  2000-004     11000          Antwerpen
8               8  2000-005     11000          Antwerpen
9               9  2000-005     11000          Antwerpen
10             10  2000-006     11000          Antwerpen
11             11  2000-006     11000          Antwerpen
12             12  2000-007     11000          Antwerpen
13             13  2000-007     11000          Antwerpen
14             14  2000-008     11000          Antwerpen
15             15  2000-008     11000          Antwerpen
16             16  2000-009     11000          Antwerpen
17             17  2000-009     11000          Antwerpen
18             18  2000-010     11000          Antwerpen
19             19  2000-010     11000          Antwerpen
20             20  2000-011     11000          Antwerpen
21             21  2000-011     11000          Antwerpen
22             22  2000-012     11000          Antwerpen
23             23  2000-012     11000          Antwerpen
24             24  2000-013     11000          Antwerpen
25             25  2000-013     11000          Antwerpen
26             26  2000-014     11000          Antwerpen
27             27  2000-014     11000          Antwerpen
28             28  2000-015     11000          Antwerpen
29             29  2000-015     11000          Antwerpen
...           ...       ...       ...                ...
81112       81112  2019-033     93000      Philippeville
81113       81113  2019-034     93000      Philippeville
81114       81114  2019-034     93000      Philippeville
81115       81115  2019-035     93000      Philippeville
81116       81116  2019-036     93000      Philippeville
81117       81117  2019-036     93000      Philippeville
81118       81118  2019-037     93000      Philippeville
81119       81119  2019-037     93000      Philippeville
81120       81120  2019-038     93000      Philippeville
81121       81121  2019-039     93000      Philippeville
81122       81122  2019-040     93000      Philippeville
81123       81123  2019-040     93000      Philippeville
81124       81124  2019-041     93000      Philippeville
81125       81125  2019-042     93000      Philippeville
81126       81126  2019-043     93000      Philippeville
81127       81127  2019-044     93000      Philippeville
81128       81128  2019-045     93000      Philippeville
81129       81129  2019-046     93000      Philippeville
81130       81130  2019-046     93000      Philippeville
81131       81131  2019-047     93000      Philippeville
81132       81132  2019-047     93000      Philippeville
81133       81133  2019-048     93000      Philippeville
81134       81134  2019-048     93000      Philippeville
81135       81135  2019-049     93000      Philippeville
81136       81136  2019-049     93000      Philippeville
81137       81137  2019-050     93000      Philippeville
81138       81138  2019-050     93000      Philippeville
81139       81139  2019-051     93000      Philippeville
81140       81140  2019-052     93000      Philippeville
81141       81141  2019-052     93000      Philippeville

       heatwave_week_boolean  ARRON       COD  N_MASK
0                          0  11000  external     NaN
1                          0  11000   natural    31.0
2                          0  11000  external    13.0
3                          0  11000   natural   263.0
4                          0  11000  external    11.0
5                          0  11000   natural   219.0
6                          0  11000  external     7.0
7                          0  11000   natural   226.0
8                          0  11000  external     8.0
9                          0  11000   natural   229.0
10                         0  11000  external     8.0
11                         0  11000   natural   230.0
12                         0  11000  external    10.0
13                         0  11000   natural   189.0
14                         0  11000  external     8.0
15                         0  11000   natural   167.0
16                         0  11000  external    10.0
17                         0  11000   natural   191.0
18                         0  11000  external    11.0
19                         0  11000   natural   196.0
20                         0  11000  external    13.0
21                         0  11000   natural   169.0
22                         0  11000  external    15.0
23                         0  11000   natural   178.0
24                         0  11000  external     8.0
25                         0  11000   natural   199.0
26                         0  11000  external    10.0
27                         0  11000   natural   152.0
28                         0  11000  external     8.0
29                         0  11000   natural   180.0
...                      ...    ...       ...     ...
81112                      0  93000   natural     9.0
81113                      0  93000  external     NaN
81114                      0  93000   natural    19.0
81115                      0  93000   natural    11.0
81116                      0  93000  external     NaN
81117                      0  93000   natural    14.0
81118                      0  93000  external     NaN
81119                      0  93000   natural    10.0
81120                      0  93000   natural    13.0
81121                      0  93000   natural    16.0
81122                      0  93000  external     NaN
81123                      0  93000   natural    12.0
81124                      0  93000   natural    11.0
81125                      0  93000   natural     8.0
81126                      0  93000   natural    10.0
81127                      0  93000   natural    16.0
81128                      0  93000   natural    12.0
81129                      0  93000  external     NaN
81130                      0  93000   natural     5.0
81131                      0  93000  external     NaN
81132                      0  93000   natural    12.0
81133                      0  93000  external     NaN
81134                      0  93000   natural    13.0
81135                      0  93000  external     NaN
81136                      0  93000   natural     8.0
81137                      0  93000  external     NaN
81138                      0  93000   natural    13.0
81139                      0  93000   natural    15.0
81140                      0  93000  external     NaN
81141                      0  93000   natural     8.0

[81142 rows x 8 columns]

FileNotFoundError: [Errno 2] File b'out/weekly_mortality_with_linear_interpolated_population_data.csv' does not exist: b'out/weekly_mortality_with_linear_interpolated_population_data.csv'

In [12]:
'FILTER HEAT_WAVE DATA TO GET ONLY NATURAL DEATHS'
heat_wave = heat_wave[heat_wave['COD'] == "natural"]

'CONVERT YEAR_WEEK TO STRING'
heat_wave = heat_wave.astype({"YEAR_WEEK": str})

'CREATING YEAR AND WEEK VARIABLES'
heat_wave['YEAR'] = heat_wave['YEAR_WEEK'].astype(str).str[:4]
heat_wave['YEAR'] = heat_wave['YEAR'].astype(int)

heat_wave['WEEK'] = heat_wave['YEAR_WEEK'].astype(str).str[6:8]
heat_wave['WEEK'] = heat_wave['WEEK'].astype(int)

print(heat_wave)
heat_wave.info()

       Unnamed: 0 YEAR_WEEK  NIS_Code Nom_arrondissement  \
1               1  2000-001     11000          Antwerpen
3               3  2000-002     11000          Antwerpen
5               5  2000-003     11000          Antwerpen
7               7  2000-004     11000          Antwerpen
9               9  2000-005     11000          Antwerpen
11             11  2000-006     11000          Antwerpen
13             13  2000-007     11000          Antwerpen
15             15  2000-008     11000          Antwerpen
17             17  2000-009     11000          Antwerpen
19             19  2000-010     11000          Antwerpen
21             21  2000-011     11000          Antwerpen
23             23  2000-012     11000          Antwerpen
25             25  2000-013     11000          Antwerpen
27             27  2000-014     11000          Antwerpen
29             29  2000-015     11000          Antwerpen
31             31  2000-016     11000          Antwerpen
33             33  2000-017     11000          Antwerpen
35             35  2000-018     11000          Antwerpen
37             37  2000-019     11000          Antwerpen
39             39  2000-020     11000          Antwerpen
41             41  2000-021     11000          Antwerpen
43             43  2000-022     11000          Antwerpen
45             45  2000-023     11000          Antwerpen
47             47  2000-024     11000          Antwerpen
49             49  2000-025     11000          Antwerpen
51             51  2000-026     11000          Antwerpen
53             53  2000-027     11000          Antwerpen
55             55  2000-028     11000          Antwerpen
57             57  2000-029     11000          Antwerpen
59             59  2000-030     11000          Antwerpen
...           ...       ...       ...                ...
81096       81096  2019-023     93000      Philippeville
81098       81098  2019-024     93000      Philippeville
81099       81099  2019-025     93000      Philippeville
81100       81100  2019-026     93000      Philippeville
81101       81101  2019-027     93000      Philippeville
81103       81103  2019-028     93000      Philippeville
81105       81105  2019-029     93000      Philippeville
81107       81107  2019-030     93000      Philippeville
81108       81108  2019-031     93000      Philippeville
81110       81110  2019-032     93000      Philippeville
81112       81112  2019-033     93000      Philippeville
81114       81114  2019-034     93000      Philippeville
81115       81115  2019-035     93000      Philippeville
81117       81117  2019-036     93000      Philippeville
81119       81119  2019-037     93000      Philippeville
81120       81120  2019-038     93000      Philippeville
81121       81121  2019-039     93000      Philippeville
81123       81123  2019-040     93000      Philippeville
81124       81124  2019-041     93000      Philippeville
81125       81125  2019-042     93000      Philippeville
81126       81126  2019-043     93000      Philippeville
81127       81127  2019-044     93000      Philippeville
81128       81128  2019-045     93000      Philippeville
81130       81130  2019-046     93000      Philippeville
81132       81132  2019-047     93000      Philippeville
81134       81134  2019-048     93000      Philippeville
81136       81136  2019-049     93000      Philippeville
81138       81138  2019-050     93000      Philippeville
81139       81139  2019-051     93000      Philippeville
81141       81141  2019-052     93000      Philippeville

       heatwave_week_boolean  ARRON      COD  N_MASK  YEAR  WEEK
1                          0  11000  natural    31.0  2000     1
3                          0  11000  natural   263.0  2000     2
5                          0  11000  natural   219.0  2000     3
7                          0  11000  natural   226.0  2000     4
9                          0  11000  natural   229.0  2000     5
11                         0  11000  natural   230.0  2000     6
13                         0  11000  natural   189.0  2000     7
15                         0  11000  natural   167.0  2000     8
17                         0  11000  natural   191.0  2000     9
19                         0  11000  natural   196.0  2000    10
21                         0  11000  natural   169.0  2000    11
23                         0  11000  natural   178.0  2000    12
25                         0  11000  natural   199.0  2000    13
27                         0  11000  natural   152.0  2000    14
29                         0  11000  natural   180.0  2000    15
31                         0  11000  natural   190.0  2000    16
33                         0  11000  natural   174.0  2000    17
35                         0  11000  natural   166.0  2000    18
37                         0  11000  natural   174.0  2000    19
39                         0  11000  natural   170.0  2000    20
41                         0  11000  natural   157.0  2000    21
43                         0  11000  natural   163.0  2000    22
45                         0  11000  natural   174.0  2000    23
47                         0  11000  natural   155.0  2000    24
49                         0  11000  natural   155.0  2000    25
51                         0  11000  natural   210.0  2000    26
53                         0  11000  natural   161.0  2000    27
55                         0  11000  natural   181.0  2000    28
57                         0  11000  natural   174.0  2000    29
59                         0  11000  natural   152.0  2000    30
...                      ...    ...      ...     ...   ...   ...
81096                      0  93000  natural     9.0  2019    23
81098                      0  93000  natural    12.0  2019    24
81099                      0  93000  natural    14.0  2019    25
81100                      0  93000  natural    12.0  2019    26
81101                      0  93000  natural     5.0  2019    27
81103                      0  93000  natural     6.0  2019    28
81105                      0  93000  natural     8.0  2019    29
81107                      0  93000  natural    16.0  2019    30
81108                      0  93000  natural    12.0  2019    31
81110                      0  93000  natural    15.0  2019    32
81112                      0  93000  natural     9.0  2019    33
81114                      0  93000  natural    19.0  2019    34
81115                      0  93000  natural    11.0  2019    35
81117                      0  93000  natural    14.0  2019    36
81119                      0  93000  natural    10.0  2019    37
81120                      0  93000  natural    13.0  2019    38
81121                      0  93000  natural    16.0  2019    39
81123                      0  93000  natural    12.0  2019    40
81124                      0  93000  natural    11.0  2019    41
81125                      0  93000  natural     8.0  2019    42
81126                      0  93000  natural    10.0  2019    43
81127                      0  93000  natural    16.0  2019    44
81128                      0  93000  natural    12.0  2019    45
81130                      0  93000  natural     5.0  2019    46
81132                      0  93000  natural    12.0  2019    47
81134                      0  93000  natural    13.0  2019    48
81136                      0  93000  natural     8.0  2019    49
81138                      0  93000  natural    13.0  2019    50
81139                      0  93000  natural    15.0  2019    51
81141                      0  93000  natural     8.0  2019    52

[44713 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44713 entries, 1 to 81141
Data columns (total 10 columns):
Unnamed: 0               44713 non-null int64
YEAR_WEEK                44713 non-null object
NIS_Code                 44713 non-null int64
Nom_arrondissement       44713 non-null object
heatwave_week_boolean    44713 non-null int64
ARRON                    44713 non-null int64
COD                      44713 non-null object
N_MASK                   44446 non-null float64
YEAR                     44713 non-null int32
WEEK                     44713 non-null int32
dtypes: float64(1), int32(2), int64(4), object(3)
memory usage: 2.9+ MB

In [13]:
heat_wave.head()

,Unnamed: 0,YEAR_WEEK,NIS_Code,Nom_arrondissement,heatwave_week_boolean,ARRON,COD,N_MASK,YEAR,WEEK
1,1,2000-001,11000,Antwerpen,0,11000,natural,31.0,2000,1
3,3,2000-002,11000,Antwerpen,0,11000,natural,263.0,2000,2
5,5,2000-003,11000,Antwerpen,0,11000,natural,219.0,2000,3
7,7,2000-004,11000,Antwerpen,0,11000,natural,226.0,2000,4
9,9,2000-005,11000,Antwerpen,0,11000,natural,229.0,2000,5

In [14]:
'MERGING HEAT_WAVE AND INTERPOLATION DATASETS'

merged_data = pd.merge(mort_interp, heat_wave, how = 'left', left_on=['YEAR', 'ARRON', 'WEEK'], right_on = ['YEAR', 'ARRON', 'WEEK'])
merged_data.head(20)
#merged_data.info()

,YEAR,COD_x,ARRON,N_DEATHS,WEEK,population_t,Unnamed: 0,YEAR_WEEK,NIS_Code,Nom_arrondissement,heatwave_week_boolean,COD_y,N_MASK
0,2000,natural,11000,31.0,1,932103.0,1.0,2000-001,11000.0,Antwerpen,0.0,natural,31.0
1,2000,natural,12000,10.0,1,305670.0,2080.0,2000-001,12000.0,Mechelen,0.0,natural,10.0
2,2000,natural,13000,14.0,1,406199.0,4105.0,2000-001,13000.0,Turnhout,0.0,natural,14.0
3,2000,natural,21000,43.0,1,959318.0,6163.0,2000-001,21000.0,Bruxelles-Capitale,0.0,natural,43.0
4,2000,natural,23000,14.0,1,558220.0,8243.0,2000-001,23000.0,Hal-Vilvorde,0.0,natural,14.0
5,2000,natural,24000,20.0,1,456484.0,10316.0,2000-001,24000.0,Leuven,0.0,natural,20.0
6,2000,natural,25000,15.0,1,349884.0,12379.0,2000-001,25000.0,Nivelles,0.0,natural,15.0
7,2000,natural,31000,14.0,1,270866.0,14441.0,2000-001,31000.0,Brugge,0.0,natural,14.0
8,2000,natural,32000,NaN,1,47992.0,16458.0,2000-001,32000.0,Diksmuide,0.0,natural,NaN
9,2000,natural,33000,6.0,1,104278.0,17936.0,2000-001,33000.0,Ypres,0.0,natural,6.0
10,2000,natural,34000,10.0,1,278311.0,19683.0,2000-001,34000.0,Courtrai,0.0,natural,10.0
11,2000,natural,35000,7.0,1,142430.0,21719.0,2000-001,35000.0,Oostende,0.0,natural,7.0
12,2000,natural,36000,5.0,1,140465.0,23651.0,2000-001,36000.0,Roeselare,0.0,natural,5.0
13,2000,natural,37000,6.0,1,88061.0,25515.0,2000-001,37000.0,Tielt,0.0,natural,6.0
14,2000,natural,38000,4.0,1,56371.0,27204.0,2000-001,38000.0,Veurne,0.0,natural,4.0
15,2000,natural,41000,5.0,1,262294.0,28752.0,2000-001,41000.0,Aalst,0.0,natural,5.0
16,2000,natural,42000,6.0,1,186484.0,30780.0,2000-001,42000.0,Dendermonde,0.0,natural,6.0
17,2000,natural,43000,4.0,1,79484.0,32717.0,2000-001,43000.0,Eeklo,0.0,natural,4.0
18,2000,natural,44000,12.0,1,495368.0,34408.0,2000-001,44000.0,Gent,0.0,natural,12.0
19,2000,natural,45000,4.0,1,114345.0,36481.0,2000-001,45000.0,Audenarde,0.0,natural,4.0

In [15]:
'SAVING MERGED DATA TO OUT FILE'
merged_data.to_csv('out/merged.csv', encoding = 'utf-8-sig')