In [11]:
import pandas as pd
import numpy as np

'LOAD HEAT WAVE DATA'
heat_wave = pd.read_csv("../out/mortality_heat_wave.csv", sep = ",")
print(heat_wave)

'LOAD DEATH DATA WITH TOTAL WEEKLY POPULATION BY ARRONDISSEMENT (AS OBTAINED BY LINEAR INTERPOLATION)'
mort_interp = pd.read_csv("../out/weekly_mortality_with_linear_interpolated_population_data.csv",
                         sep = ",")
print(mort_interp)
mort_interp.info()

       Unnamed: 0 YEAR_WEEK  NIS_Code Nom_arrondissement  \
0               0  2000-001     11000          Antwerpen
1               1  2000-001     11000          Antwerpen
2               2  2000-002     11000          Antwerpen
3               3  2000-002     11000          Antwerpen
4               4  2000-003     11000          Antwerpen
...           ...       ...       ...                ...
81137       81137  2019-050     93000      Philippeville
81138       81138  2019-050     93000      Philippeville
81139       81139  2019-051     93000      Philippeville
81140       81140  2019-052     93000      Philippeville
81141       81141  2019-052     93000      Philippeville

       heatwave_week_boolean  ARRON       COD  N_MASK
0                          0  11000  external     NaN
1                          0  11000   natural    31.0
2                          0  11000  external    13.0
3                          0  11000   natural   263.0
4                          0  11000  external    11.0
...                      ...    ...       ...     ...
81137                      0  93000  external     NaN
81138                      0  93000   natural    13.0
81139                      0  93000   natural    15.0
81140                      0  93000  external     NaN
81141                      0  93000   natural     8.0

[81142 rows x 8 columns]
       YEAR      COD  ARRON  N_DEATHS  WEEK  population_t
0      2000  natural  11000      31.0     1      932103.0
1      2000  natural  12000      10.0     1      305670.0
2      2000  natural  13000      14.0     1      406199.0
3      2000  natural  21000      43.0     1      959318.0
4      2000  natural  23000      14.0     1      558220.0
...     ...      ...    ...       ...   ...           ...
45727  2020  natural  37000       0.0     1       93428.0
45728  2020  natural  32000       0.0     1       51696.0
45729  2020  natural  64000       0.0     1       81889.0
45730  2020  natural  81000       0.0     1       62996.0
45731  2020  natural  82000       0.0     1       49083.0

[45732 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45732 entries, 0 to 45731
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YEAR          45732 non-null  int64
 1   COD           45732 non-null  object
 2   ARRON         45732 non-null  int64
 3   N_DEATHS      45387 non-null  float64
 4   WEEK          45732 non-null  int64
 5   population_t  45680 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.1+ MB

In [12]:
mort_interp[mort_interp['ARRON']=='21000']

Empty DataFrame
Columns: [YEAR, COD, ARRON, N_DEATHS, WEEK, population_t]
Index: []

In [13]:
heat_wave.head()

,Unnamed: 0,YEAR_WEEK,NIS_Code,Nom_arrondissement,heatwave_week_boolean,ARRON,COD,N_MASK
0,0,2000-001,11000,Antwerpen,0,11000,external,NaN
1,1,2000-001,11000,Antwerpen,0,11000,natural,31.0
2,2,2000-002,11000,Antwerpen,0,11000,external,13.0
3,3,2000-002,11000,Antwerpen,0,11000,natural,263.0
4,4,2000-003,11000,Antwerpen,0,11000,external,11.0

In [14]:
'FILTER HEAT_WAVE DATA TO GET ONLY NATURAL DEATHS'
heat_wave = heat_wave[heat_wave['COD'] == "natural"]

'CONVERT YEAR_WEEK TO STRING'
heat_wave = heat_wave.astype({"YEAR_WEEK": str})

'CREATING YEAR AND WEEK VARIABLES'
heat_wave['YEAR'] = heat_wave['YEAR_WEEK'].astype(str).str[:4]
heat_wave['YEAR'] = heat_wave['YEAR'].astype(int)

heat_wave['WEEK'] = heat_wave['YEAR_WEEK'].astype(str).str[6:8]
heat_wave['WEEK'] = heat_wave['WEEK'].astype(int)

print(heat_wave)
heat_wave.info()

       Unnamed: 0 YEAR_WEEK  NIS_Code Nom_arrondissement  \
1               1  2000-001     11000          Antwerpen
3               3  2000-002     11000          Antwerpen
5               5  2000-003     11000          Antwerpen
7               7  2000-004     11000          Antwerpen
9               9  2000-005     11000          Antwerpen
...           ...       ...       ...                ...
81134       81134  2019-048     93000      Philippeville
81136       81136  2019-049     93000      Philippeville
81138       81138  2019-050     93000      Philippeville
81139       81139  2019-051     93000      Philippeville
81141       81141  2019-052     93000      Philippeville

       heatwave_week_boolean  ARRON      COD  N_MASK  YEAR  WEEK
1                          0  11000  natural    31.0  2000     1
3                          0  11000  natural   263.0  2000     2
5                          0  11000  natural   219.0  2000     3
7                          0  11000  natural   226.0  2000     4
9                          0  11000  natural   229.0  2000     5
...                      ...    ...      ...     ...   ...   ...
81134                      0  93000  natural    13.0  2019    48
81136                      0  93000  natural     8.0  2019    49
81138                      0  93000  natural    13.0  2019    50
81139                      0  93000  natural    15.0  2019    51
81141                      0  93000  natural     8.0  2019    52

[44713 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44713 entries, 1 to 81141
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             44713 non-null  int64
 1   YEAR_WEEK              44713 non-null  object
 2   NIS_Code               44713 non-null  int64
 3   Nom_arrondissement     44713 non-null  object
 4   heatwave_week_boolean  44713 non-null  int64
 5   ARRON                  44713 non-null  int64
 6   COD                    44713 non-null  object
 7   N_MASK                 44446 non-null  float64
 8   YEAR                   44713 non-null  int32
 9   WEEK                   44713 non-null  int32
dtypes: float64(1), int32(2), int64(4), object(3)
memory usage: 3.4+ MB

In [15]:
heat_wave[heat_wave['ARRON']==21000]

,Unnamed: 0,YEAR_WEEK,NIS_Code,Nom_arrondissement,heatwave_week_boolean,ARRON,COD,N_MASK,YEAR,WEEK
6163,6163,2000-001,21000,Bruxelles-Capitale,0,21000,natural,43.0,2000,1
6165,6165,2000-002,21000,Bruxelles-Capitale,0,21000,natural,279.0,2000,2
6167,6167,2000-003,21000,Bruxelles-Capitale,0,21000,natural,254.0,2000,3
6169,6169,2000-004,21000,Bruxelles-Capitale,0,21000,natural,275.0,2000,4
6171,6171,2000-005,21000,Bruxelles-Capitale,0,21000,natural,231.0,2000,5
...,...,...,...,...,...,...,...,...,...,...
8233,8233,2019-048,21000,Bruxelles-Capitale,0,21000,natural,145.0,2019,48
8235,8235,2019-049,21000,Bruxelles-Capitale,0,21000,natural,137.0,2019,49
8237,8237,2019-050,21000,Bruxelles-Capitale,0,21000,natural,154.0,2019,50
8239,8239,2019-051,21000,Bruxelles-Capitale,0,21000,natural,194.0,2019,51
8241,8241,2019-052,21000,Bruxelles-Capitale,0,21000,natural,158.0,2019,52

In [16]:
'MERGING HEAT_WAVE AND INTERPOLATION DATASETS'

merged_data = pd.merge(mort_interp, heat_wave, how = 'right', left_on=['YEAR', 'ARRON', 'WEEK'], right_on = ['YEAR', 'ARRON', 'WEEK'])
merged_data[merged_data['N_DEATHS'].isnull()& merged_data['N_MASK'].notnull()]
#no obsevation with null N_MASK/COD_y and not null N_DEATHS/COD_x, so drop N_DEATHS/COD_x
merged_data=merged_data.drop(columns=['COD_x','N_DEATHS','NIS_Code','Unnamed: 0'])
merged_data.head()
#merged_data.info()

,YEAR,ARRON,WEEK,population_t,YEAR_WEEK,Nom_arrondissement,heatwave_week_boolean,COD_y,N_MASK
0,2000,11000,1,932103.0,2000-001,Antwerpen,0,natural,31.0
1,2000,11000,2,932093.0,2000-002,Antwerpen,0,natural,263.0
2,2000,11000,3,932083.0,2000-003,Antwerpen,0,natural,219.0
3,2000,11000,4,932073.0,2000-004,Antwerpen,0,natural,226.0
4,2000,11000,5,932063.0,2000-005,Antwerpen,0,natural,229.0

In [17]:
'SAVING MERGED DATA TO OUT FILE'
merged_data.to_csv('../out/merged.csv', encoding = 'utf-8-sig')