# Dataframe for Meta-Analysis

In [1]:
import pandas as pd
import datetime
import numpy as np
import patsy 

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load arron-temp data
arron_temp = pd.read_csv("https://raw.githubusercontent.com/mariobecerra/mda_project/main/out/arron_temp_data.csv", sep = ",")

# Load mortality data
mort = pd.read_csv("https://raw.githubusercontent.com/mariobecerra/mda_project/main/out/mortality.csv", sep = ",")

In [ ]:
mort

       YEAR YEAR_WEEK      COD  ARRON  N_DEATHS  WEEK
0      2000  2000-001  natural  11000      31.0     1
1      2000  2000-001  natural  12000      10.0     1
2      2000  2000-001  natural  13000      14.0     1
3      2000  2000-001  natural  21000      43.0     1
4      2000  2000-001  natural  23000      14.0     1
...     ...       ...      ...    ...       ...   ...
45550  2019  2019-053  natural  84000       6.0    53
45551  2019  2019-053  natural  85000       5.0    53
45552  2019  2019-053  natural  91000      10.0    53
45553  2019  2019-053  natural  92000      19.0    53
45554  2019  2019-053  natural  93000       7.0    53

[45555 rows x 6 columns]

In [ ]:
arron_temp = arron_temp.drop(['Unnamed: 0', 'GRID_NO'], axis = 1)

In [ ]:
arron_temp

,DAY,Nom_arrondissement,NIS_Code,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG,YEAR
0,20000101,Aalst,41000,8.4,4.7,6.6,2000.0
1,20000102,Aalst,41000,8.8,5.7,7.3,2000.0
2,20000103,Aalst,41000,9.5,7.1,8.3,2000.0
3,20000104,Aalst,41000,10.2,7.1,8.7,2000.0
4,20000105,Aalst,41000,7.2,2.1,4.7,2000.0
...,...,...,...,...,...,...,...
321415,20191227,Ypres,33000,8.0,6.9,7.4,2019.0
321416,20191228,Ypres,33000,7.5,5.7,6.6,2019.0
321417,20191229,Ypres,33000,4.8,0.5,2.7,2019.0
321418,20191230,Ypres,33000,7.7,1.2,4.5,2019.0
321419,20191231,Ypres,33000,5.8,1.1,3.5,2019.0

In [ ]:
regions = arron_temp['Nom_arrondissement'].unique()
datalist = {}

for region in regions:
    datalist[region] = arron_temp[arron_temp['Nom_arrondissement'] == region]
    datalist[region] = datalist[region].rename(columns={"DAY": "DATE"})
    datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
    datalist[region]['MONTH'] = [int((x//100)%100) for x in datalist[region]['DATE']]
    datalist[region]['DAY'] = [int(x%100) for x in datalist[region]['DATE']]
    datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DATE']]
    datalist[region]['YDAY'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime('%j')) for x in datalist[region]['DATE']]
    datalist[region]['DOW'] = [int(datetime.date(x//10000, (x//100)%100, x%100).weekday()) for x in datalist[region]['DATE']]
    datalist[region]['TIME'] = list(range(1, len(datalist[region]['DATE']) + 1))
    datalist[region] = datalist[region][['DATE', 'YEAR', 'MONTH', 'DAY', 'WEEK', 'YDAY', 'DOW', 'TIME', 'Nom_arrondissement', 'NIS_Code', 'TEMPERATURE_MIN', 'TEMPERATURE_MAX', 'TEMPERATURE_AVG', 'tmean05']]
    datalist[region]['N_DEATHS'] = -1
    datalist[region].reset_index(drop = True)
    
    n_deaths=[]
    for i in range(0, len(datalist[region])):
        deaths = mort[(mort['YEAR']==datalist[region].iloc[i]['YEAR']) & 
                      (mort['WEEK']==datalist[region].iloc[i]['WEEK']) & 
                      (mort['ARRON']==datalist[region].iloc[i]['NIS_Code'])]['N_DEATHS']
        if len(deaths) ==0:
            n_deaths.append(np.NAN)
        else:
            n_deaths.append(deaths.iloc[0])
    datalist[region]['N_DEATHS'] = [round(d/7, 2) for d in n_deaths]

In [ ]:
datalist['Dinant']

,DATE,YEAR,MONTH,DAY,WEEK,YDAY,DOW,TIME,Nom_arrondissement,NIS_Code,TEMPERATURE_MIN,TEMPERATURE_MAX,TEMPERATURE_AVG,tmean05,N_DEATHS
87660,20000101,2000.0,1,1,52,1,5,1,Dinant,91000,3.1,6.6,4.8,NaN,1.29
87661,20000102,2000.0,1,2,52,2,6,2,Dinant,91000,3.5,6.9,5.2,NaN,1.29
87662,20000103,2000.0,1,3,1,3,0,3,Dinant,91000,5.4,5.6,5.5,NaN,1.00
87663,20000104,2000.0,1,4,1,4,1,4,Dinant,91000,4.8,7.9,6.3,NaN,1.00
87664,20000105,2000.0,1,5,1,5,2,5,Dinant,91000,1.9,6.5,4.2,NaN,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94960,20191227,2019.0,12,27,52,361,4,7301,Dinant,91000,3.8,6.5,5.2,5.883333,2.86
94961,20191228,2019.0,12,28,52,362,5,7302,Dinant,91000,3.1,4.5,3.8,5.350000,2.86
94962,20191229,2019.0,12,29,52,363,6,7303,Dinant,91000,-1.0,7.5,3.2,4.716667,2.86
94963,20191230,2019.0,12,30,1,364,0,7304,Dinant,91000,2.2,9.2,5.7,4.450000,3.14
94964,20191231,2019.0,12,31,1,365,1,7305,Dinant,91000,0.4,6.0,3.2,3.916667,3.14

In [ ]:
# saving meta-analysis dataset to /out
df = pd.DataFrame(columns = (datalist['Dinant']).columns)
for region in regions:
    df = pd.concat([df, datalist[region]])

df.to_csv('out/meta_analysis_data.csv', encoding = 'utf-8-sig')

In [ ]:
df

,DATE,YEAR,MONTH,DAY,WEEK,YDAY,DOW,TIME,Nom_arrondissement,NIS_Code,TEMPERATURE_MIN,TEMPERATURE_MAX,TEMPERATURE_AVG,tmean05,N_DEATHS
0,20000101,2000.0,1,1,52,1,5,1,Aalst,41000,4.7,8.4,6.6,NaN,7.57
1,20000102,2000.0,1,2,52,2,6,2,Aalst,41000,5.7,8.8,7.3,NaN,7.57
2,20000103,2000.0,1,3,1,3,0,3,Aalst,41000,7.1,9.5,8.3,NaN,0.71
3,20000104,2000.0,1,4,1,4,1,4,Aalst,41000,7.1,10.2,8.7,NaN,0.71
4,20000105,2000.0,1,5,1,5,2,5,Aalst,41000,2.1,7.2,4.7,NaN,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321415,20191227,2019.0,12,27,52,361,4,7301,Ypres,33000,6.9,8.0,7.4,7.416667,2.00
321416,20191228,2019.0,12,28,52,362,5,7302,Ypres,33000,5.7,7.5,6.6,7.133333,2.00
321417,20191229,2019.0,12,29,52,363,6,7303,Ypres,33000,0.5,4.8,2.7,6.266667,2.00
321418,20191230,2019.0,12,30,1,364,0,7304,Ypres,33000,1.2,7.7,4.5,5.516667,2.43
321419,20191231,2019.0,12,31,1,365,1,7305,Ypres,33000,1.1,5.8,3.5,4.816667,2.43

# Model

In [ ]:
m = len(datalist)
m

44

In [ ]:
# TEMPERATURE RANGES (FOR LAG 0-5)
min_tmean05 = pd.DataFrame([{k:(v['tmean05']).min() for k,v in datalist.items()}], index =["MIN"])
max_tmean05 = pd.DataFrame([{k:(v['tmean05']).max() for k,v in datalist.items()}], index = ["MAX"])
ranges = pd.concat([min_tmean05, max_tmean05], axis = 0).transpose()
ranges

                           MIN        MAX
Aalst                -6.050000  25.483333
Antwerpen            -8.066667  25.366667
Arlon                -9.300000  29.366667
Ath                  -6.800000  25.566667
Audenarde            -5.833333  25.633333
Bastogne             -9.900000  27.116667
Brugge               -5.016667  23.550000
Bruxelles-Capitale   -7.900000  25.350000
Charleroi            -9.033333  25.933333
Courtrai             -5.833333  25.633333
Dendermonde          -6.700000  25.950000
Diksmuide            -4.733333  23.283333
Dinant               -8.316667  26.433333
Eeklo                -5.533333  24.433333
Gent                 -5.750000  26.166667
Hal-Vilvorde         -6.783333  25.450000
Hasselt              -7.983333  25.866667
Huy                  -9.466667  26.683333
La Louvière          -8.350000  25.966667
Leuven               -7.950000  25.783333
Liège                -9.716667  26.616667
Maaseik              -8.616667  25.750000
Marche-en-Famenne    -9.366667  26.866667
Mechelen             -7.483333  25.966667
Mons                 -7.066667  25.850000
Mouscron             -5.383333  26.333333
Namur                -9.233333  26.266667
Neufchâteau          -9.583333  27.600000
Nivelles             -8.266667  25.500000
Oostende             -5.483333  22.816667
Philippeville        -8.233333  26.500000
Roeselare            -5.783333  25.050000
Sint-Niklaas         -6.700000  25.950000
Soignies             -6.733333  25.716667
Thuin                -8.366667  25.883333
Tielt                -5.766667  25.250000
Tongres              -9.100000  26.333333
Tournai et Mouscron  -6.016667  25.916667
Turnhout             -7.966667  25.650000
Verviers            -10.133333  26.233333
Veurne               -4.733333  23.283333
Virton               -8.183333  27.383333
Waremme              -8.966667  26.150000
Ypres                -5.116667  24.833333

In [ ]:
# DEFINE THE AVERAGE RANGE, CENTERING POINT, DEGREE AND TYPE OF THE SPLINE
# (THESE PARAMETERS CAN BE CHANGED BY THE USER FOR ADDITIONAL ANALYSES)
cen = 17
bounds = ranges.apply(np.mean)
degree = 2
type = "bs"
df = 6

# DEFINE THE KNOTS AT TEMPERATURE CORRESPONDING TO AVERAGE PERCENTILES
knotperc = [5, 35, 65, 95]
knots = pd.DataFrame(columns = ["5%", "35%", "65%", "95%"], index = regions)
for region in regions:
    perc = np.nanpercentile(datalist[region]["tmean05"], knotperc)
    knots.loc[region] = [perc[0], perc[1], perc[2], perc[3]]
knots

                           5%      35%      65%      95%
Aalst                  1.6325  8.41667  14.5167  19.9667
Antwerpen                 1.5     8.35  14.4833  20.0167
Arlon               -0.816667  6.88333  13.8667  20.6175
Ath                   1.41667  8.21667  14.3833  20.0342
Audenarde             1.78333  8.56667  14.6167  20.0167
Bastogne            -0.966667    6.455  13.2667    19.75
Brugge                   2.35  8.38333    14.15  18.9333
Bruxelles-Capitale    1.31583  8.31667  14.5058    20.25
Charleroi                0.65      7.9  14.1667  19.9833
Courtrai              1.78333  8.56667  14.6167  20.0167
Dendermonde           2.01583     8.75  14.8725  20.3842
Diksmuide              2.4825      8.5     14.1    18.85
Dinant               0.216667      7.4  13.7333  19.8167
Eeklo                  2.2825  8.58333  14.5667    19.55
Gent                  2.24917  8.96667  15.0667  20.5833
Hal-Vilvorde          1.61667      8.5     14.7  20.3167
Hasselt               1.28333   8.3775  14.8667  20.6833
Huy                  0.365833      7.7  14.1667  20.3667
La Louvière              0.85  7.96667     14.2    20.05
Leuven                1.19917     8.25  14.6167  20.4167
Liège                    0.45  7.83333  14.4058  20.6508
Maaseik               1.04917  8.13333     14.7    20.45
Marche-en-Famenne   -0.316667  6.99417  13.6167    19.85
Mechelen                 1.75  8.61667  14.8058  20.4833
Mons                      1.2  8.08333  14.2667  19.9333
Mouscron              1.81667     8.65  14.7833  20.4342
Namur                    0.55  7.83333     14.2  20.1167
Neufchâteau         -0.866667   6.5275  13.3333  19.8167
Nivelles             0.915833  8.04417  14.3833  20.1508
Oostende                  2.1  8.11667     13.8     18.5
Philippeville             0.3  7.48333     13.8  19.8842
Roeselare             1.93333  8.51667     14.5  19.7667
Sint-Niklaas          2.01583     8.75  14.8725  20.3842
Soignies              1.33333     8.25  14.5833  20.2667
Thuin                  0.4825  7.71667  14.0167  19.9175
Tielt                 2.13333      8.7  14.7167  20.0342
Tongres                  0.65     8.05  14.6333  20.6833
Tournai et Mouscron   1.66667  8.46667  14.6333     20.2
Turnhout              1.43333      8.4     14.7    20.35
Verviers                -0.35        7  13.5225  19.7167
Veurne                 2.4825      8.5     14.1    18.85
Virton              -0.166667  7.21667    13.85  20.1333
Waremme                0.6825        8  14.5167    20.55
Ypres                    2.25      8.6  14.4558    19.65

In [ ]:
btmean05 = patsy.bs(x=datalist['Dinant']['tmean05'], knots=knots.loc['Dinant'], degree=degree, lower_bound=bounds[0], upper_bound=bounds[1])
btmean05

              0         1         2    3    4    5
87660       NaN       NaN       NaN  NaN  NaN  NaN
87661       NaN       NaN       NaN  NaN  NaN  NaN
87662       NaN       NaN       NaN  NaN  NaN  NaN
87663       NaN       NaN       NaN  NaN  NaN  NaN
87664       NaN       NaN       NaN  NaN  NaN  NaN
...         ...       ...       ...  ...  ...  ...
94960  0.021580  0.647700  0.330719  0.0  0.0  0.0
94961  0.039426  0.689178  0.271396  0.0  0.0  0.0
94962  0.067551  0.723890  0.208559  0.0  0.0  0.0
94963  0.081644  0.733783  0.184573  0.0  0.0  0.0
94964  0.113833  0.745170  0.140996  0.0  0.0  0.0

[7305 rows x 6 columns]